DB_URI=postgres://%s:%s@127.0.0.1:5432/doubleboiler?sslmode=disable
HASH_KEY=aslkiucalaxcaxacvasfacxav7d09a8s7dpa908s6dapoisudylaksd6p21basdi
BLOCK_KEY=p987asloidkalsid8o7als87dakso8d7
RECAPTCHA_SECRET=FAKE4ec64cad-d63a-41b3-9ca0-6764786a8c61FAKE
RECAPTCHA_SITE_KEY=FAKEd8d5fcab-20f0-4bc0-86c3-6e3e82734fe4FAKE
