{{ define "countryselector" }}
{{ $id := uniq }}
<div class="flex flex-col gap-2">
  <label
      for="{{$id}}"
      class="block text-sm font-medium text-gray-700">
    {{.Label}}
  </label>
  <select id="{{$id}}" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    {{ template "countries" .SelectedCountry }}
  </select>
  <script>
    (function(){
      const elem = document.getElementById("{{$id}}");
      new Choices(elem, {});
    })()
  </script>
</div>
{{ end }}

{{ define "countries" }}
<option {{ if eq . "Afghanistan" }}selected{{ end }} value="Afghanistan">Afghanistan</option>
<option {{ if eq . "Åland Islands" }}selected{{ end }} value="Åland Islands">Åland Islands</option>
<option {{ if eq . "Albania" }}selected{{ end }} value="Albania">Albania</option>
<option {{ if eq . "Algeria" }}selected{{ end }} value="Algeria">Algeria</option>
<option {{ if eq . "American Samoa" }}selected{{ end }} value="American Samoa">American Samoa</option>
<option {{ if eq . "Andorra" }}selected{{ end }} value="Andorra">Andorra</option>
<option {{ if eq . "Angola" }}selected{{ end }} value="Angola">Angola</option>
<option {{ if eq . "Anguilla" }}selected{{ end }} value="Anguilla">Anguilla</option>
<option {{ if eq . "Antarctica" }}selected{{ end }} value="Antarctica">Antarctica</option>
<option {{ if eq . "Antigua and Barbuda" }}selected{{ end }} value="Antigua and Barbuda">Antigua and Barbuda</option>
<option {{ if eq . "Argentina" }}selected{{ end }} value="Argentina">Argentina</option>
<option {{ if eq . "Armenia" }}selected{{ end }} value="Armenia">Armenia</option>
<option {{ if eq . "Aruba" }}selected{{ end }} value="Aruba">Aruba</option>
<option {{ if eq . "Australia" }}selected{{ end }} value="Australia">Australia</option>
<option {{ if eq . "Austria" }}selected{{ end }} value="Austria">Austria</option>
<option {{ if eq . "Azerbaijan" }}selected{{ end }} value="Azerbaijan">Azerbaijan</option>
<option {{ if eq . "Bahamas" }}selected{{ end }} value="Bahamas">Bahamas</option>
<option {{ if eq . "Bahrain" }}selected{{ end }} value="Bahrain">Bahrain</option>
<option {{ if eq . "Bangladesh" }}selected{{ end }} value="Bangladesh">Bangladesh</option>
<option {{ if eq . "Barbados" }}selected{{ end }} value="Barbados">Barbados</option>
<option {{ if eq . "Belarus" }}selected{{ end }} value="Belarus">Belarus</option>
<option {{ if eq . "Belgium" }}selected{{ end }} value="Belgium">Belgium</option>
<option {{ if eq . "Belize" }}selected{{ end }} value="Belize">Belize</option>
<option {{ if eq . "Benin" }}selected{{ end }} value="Benin">Benin</option>
<option {{ if eq . "Bermuda" }}selected{{ end }} value="Bermuda">Bermuda</option>
<option {{ if eq . "Bhutan" }}selected{{ end }} value="Bhutan">Bhutan</option>
<option {{ if eq . "Bolivia" }}selected{{ end }} value="Bolivia">Bolivia</option>
<option {{ if eq . "Bosnia and Herzegovina" }}selected{{ end }} value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option {{ if eq . "Botswana" }}selected{{ end }} value="Botswana">Botswana</option>
<option {{ if eq . "Bouvet Island" }}selected{{ end }} value="Bouvet Island">Bouvet Island</option>
<option {{ if eq . "Brazil" }}selected{{ end }} value="Brazil">Brazil</option>
<option {{ if eq . "British Indian Ocean Territory" }}selected{{ end }} value="British Indian Ocean Territory">British Indian Ocean Territory</option>
<option {{ if eq . "Brunei Darussalam" }}selected{{ end }} value="Brunei Darussalam">Brunei Darussalam</option>
<option {{ if eq . "Bulgaria" }}selected{{ end }} value="Bulgaria">Bulgaria</option>
<option {{ if eq . "Burkina Faso" }}selected{{ end }} value="Burkina Faso">Burkina Faso</option>
<option {{ if eq . "Burundi" }}selected{{ end }} value="Burundi">Burundi</option>
<option {{ if eq . "Cambodia" }}selected{{ end }} value="Cambodia">Cambodia</option>
<option {{ if eq . "Cameroon" }}selected{{ end }} value="Cameroon">Cameroon</option>
<option {{ if eq . "Canada" }}selected{{ end }} value="Canada">Canada</option>
<option {{ if eq . "Cape Verde" }}selected{{ end }} value="Cape Verde">Cape Verde</option>
<option {{ if eq . "Cayman Islands" }}selected{{ end }} value="Cayman Islands">Cayman Islands</option>
<option {{ if eq . "Central African Republic" }}selected{{ end }} value="Central African Republic">Central African Republic</option>
<option {{ if eq . "Chad" }}selected{{ end }} value="Chad">Chad</option>
<option {{ if eq . "Chile" }}selected{{ end }} value="Chile">Chile</option>
<option {{ if eq . "China" }}selected{{ end }} value="China">China</option>
<option {{ if eq . "Christmas Island" }}selected{{ end }} value="Christmas Island">Christmas Island</option>
<option {{ if eq . "Cocos (Keeling) Islands" }}selected{{ end }} value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
<option {{ if eq . "Colombia" }}selected{{ end }} value="Colombia">Colombia</option>
<option {{ if eq . "Comoros" }}selected{{ end }} value="Comoros">Comoros</option>
<option {{ if eq . "Congo" }}selected{{ end }} value="Congo">Congo</option>
<option {{ if eq . "Congo, The Democratic Republic of The" }}selected{{ end }} value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
<option {{ if eq . "Cook Islands" }}selected{{ end }} value="Cook Islands">Cook Islands</option>
<option {{ if eq . "Costa Rica" }}selected{{ end }} value="Costa Rica">Costa Rica</option>
<option {{ if eq . "Cote D'ivoire" }}selected{{ end }} value="Cote D'ivoire">Cote D'ivoire</option>
<option {{ if eq . "Croatia" }}selected{{ end }} value="Croatia">Croatia</option>
<option {{ if eq . "Cuba" }}selected{{ end }} value="Cuba">Cuba</option>
<option {{ if eq . "Cyprus" }}selected{{ end }} value="Cyprus">Cyprus</option>
<option {{ if eq . "Czech Republic" }}selected{{ end }} value="Czech Republic">Czech Republic</option>
<option {{ if eq . "Denmark" }}selected{{ end }} value="Denmark">Denmark</option>
<option {{ if eq . "Djibouti" }}selected{{ end }} value="Djibouti">Djibouti</option>
<option {{ if eq . "Dominica" }}selected{{ end }} value="Dominica">Dominica</option>
<option {{ if eq . "Dominican Republic" }}selected{{ end }} value="Dominican Republic">Dominican Republic</option>
<option {{ if eq . "Ecuador" }}selected{{ end }} value="Ecuador">Ecuador</option>
<option {{ if eq . "Egypt" }}selected{{ end }} value="Egypt">Egypt</option>
<option {{ if eq . "El Salvador" }}selected{{ end }} value="El Salvador">El Salvador</option>
<option {{ if eq . "Equatorial Guinea" }}selected{{ end }} value="Equatorial Guinea">Equatorial Guinea</option>
<option {{ if eq . "Eritrea" }}selected{{ end }} value="Eritrea">Eritrea</option>
<option {{ if eq . "Estonia" }}selected{{ end }} value="Estonia">Estonia</option>
<option {{ if eq . "Ethiopia" }}selected{{ end }} value="Ethiopia">Ethiopia</option>
<option {{ if eq . "Falkland Islands (Malvinas)" }}selected{{ end }} value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
<option {{ if eq . "Faroe Islands" }}selected{{ end }} value="Faroe Islands">Faroe Islands</option>
<option {{ if eq . "Fiji" }}selected{{ end }} value="Fiji">Fiji</option>
<option {{ if eq . "Finland" }}selected{{ end }} value="Finland">Finland</option>
<option {{ if eq . "France" }}selected{{ end }} value="France">France</option>
<option {{ if eq . "French Guiana" }}selected{{ end }} value="French Guiana">French Guiana</option>
<option {{ if eq . "French Polynesia" }}selected{{ end }} value="French Polynesia">French Polynesia</option>
<option {{ if eq . "French Southern Territories" }}selected{{ end }} value="French Southern Territories">French Southern Territories</option>
<option {{ if eq . "Gabon" }}selected{{ end }} value="Gabon">Gabon</option>
<option {{ if eq . "Gambia" }}selected{{ end }} value="Gambia">Gambia</option>
<option {{ if eq . "Georgia" }}selected{{ end }} value="Georgia">Georgia</option>
<option {{ if eq . "Germany" }}selected{{ end }} value="Germany">Germany</option>
<option {{ if eq . "Ghana" }}selected{{ end }} value="Ghana">Ghana</option>
<option {{ if eq . "Gibraltar" }}selected{{ end }} value="Gibraltar">Gibraltar</option>
<option {{ if eq . "Greece" }}selected{{ end }} value="Greece">Greece</option>
<option {{ if eq . "Greenland" }}selected{{ end }} value="Greenland">Greenland</option>
<option {{ if eq . "Grenada" }}selected{{ end }} value="Grenada">Grenada</option>
<option {{ if eq . "Guadeloupe" }}selected{{ end }} value="Guadeloupe">Guadeloupe</option>
<option {{ if eq . "Guam" }}selected{{ end }} value="Guam">Guam</option>
<option {{ if eq . "Guatemala" }}selected{{ end }} value="Guatemala">Guatemala</option>
<option {{ if eq . "Guernsey" }}selected{{ end }} value="Guernsey">Guernsey</option>
<option {{ if eq . "Guinea" }}selected{{ end }} value="Guinea">Guinea</option>
<option {{ if eq . "Guinea-bissau" }}selected{{ end }} value="Guinea-bissau">Guinea-bissau</option>
<option {{ if eq . "Guyana" }}selected{{ end }} value="Guyana">Guyana</option>
<option {{ if eq . "Haiti" }}selected{{ end }} value="Haiti">Haiti</option>
<option {{ if eq . "Heard Island and Mcdonald Islands" }}selected{{ end }} value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
<option {{ if eq . "Holy See (Vatican City State)" }}selected{{ end }} value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
<option {{ if eq . "Honduras" }}selected{{ end }} value="Honduras">Honduras</option>
<option {{ if eq . "Hong Kong" }}selected{{ end }} value="Hong Kong">Hong Kong</option>
<option {{ if eq . "Hungary" }}selected{{ end }} value="Hungary">Hungary</option>
<option {{ if eq . "Iceland" }}selected{{ end }} value="Iceland">Iceland</option>
<option {{ if eq . "India" }}selected{{ end }} value="India">India</option>
<option {{ if eq . "Indonesia" }}selected{{ end }} value="Indonesia">Indonesia</option>
<option {{ if eq . "Iran, Islamic Republic of" }}selected{{ end }} value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
<option {{ if eq . "Iraq" }}selected{{ end }} value="Iraq">Iraq</option>
<option {{ if eq . "Ireland" }}selected{{ end }} value="Ireland">Ireland</option>
<option {{ if eq . "Isle of Man" }}selected{{ end }} value="Isle of Man">Isle of Man</option>
<option {{ if eq . "Israel" }}selected{{ end }} value="Israel">Israel</option>
<option {{ if eq . "Italy" }}selected{{ end }} value="Italy">Italy</option>
<option {{ if eq . "Jamaica" }}selected{{ end }} value="Jamaica">Jamaica</option>
<option {{ if eq . "Japan" }}selected{{ end }} value="Japan">Japan</option>
<option {{ if eq . "Jersey" }}selected{{ end }} value="Jersey">Jersey</option>
<option {{ if eq . "Jordan" }}selected{{ end }} value="Jordan">Jordan</option>
<option {{ if eq . "Kazakhstan" }}selected{{ end }} value="Kazakhstan">Kazakhstan</option>
<option {{ if eq . "Kenya" }}selected{{ end }} value="Kenya">Kenya</option>
<option {{ if eq . "Kiribati" }}selected{{ end }} value="Kiribati">Kiribati</option>
<option {{ if eq . "Korea, Democratic People's Republic of" }}selected{{ end }} value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
<option {{ if eq . "Korea, Republic of" }}selected{{ end }} value="Korea, Republic of">Korea, Republic of</option>
<option {{ if eq . "Kuwait" }}selected{{ end }} value="Kuwait">Kuwait</option>
<option {{ if eq . "Kyrgyzstan" }}selected{{ end }} value="Kyrgyzstan">Kyrgyzstan</option>
<option {{ if eq . "Lao People's Democratic Republic" }}selected{{ end }} value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option {{ if eq . "Latvia" }}selected{{ end }} value="Latvia">Latvia</option>
<option {{ if eq . "Lebanon" }}selected{{ end }} value="Lebanon">Lebanon</option>
<option {{ if eq . "Lesotho" }}selected{{ end }} value="Lesotho">Lesotho</option>
<option {{ if eq . "Liberia" }}selected{{ end }} value="Liberia">Liberia</option>
<option {{ if eq . "Libyan Arab Jamahiriya" }}selected{{ end }} value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
<option {{ if eq . "Liechtenstein" }}selected{{ end }} value="Liechtenstein">Liechtenstein</option>
<option {{ if eq . "Lithuania" }}selected{{ end }} value="Lithuania">Lithuania</option>
<option {{ if eq . "Luxembourg" }}selected{{ end }} value="Luxembourg">Luxembourg</option>
<option {{ if eq . "Macao" }}selected{{ end }} value="Macao">Macao</option>
<option {{ if eq . "Macedonia, The Former Yugoslav Republic of" }}selected{{ end }} value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
<option {{ if eq . "Madagascar" }}selected{{ end }} value="Madagascar">Madagascar</option>
<option {{ if eq . "Malawi" }}selected{{ end }} value="Malawi">Malawi</option>
<option {{ if eq . "Malaysia" }}selected{{ end }} value="Malaysia">Malaysia</option>
<option {{ if eq . "Maldives" }}selected{{ end }} value="Maldives">Maldives</option>
<option {{ if eq . "Mali" }}selected{{ end }} value="Mali">Mali</option>
<option {{ if eq . "Malta" }}selected{{ end }} value="Malta">Malta</option>
<option {{ if eq . "Marshall Islands" }}selected{{ end }} value="Marshall Islands">Marshall Islands</option>
<option {{ if eq . "Martinique" }}selected{{ end }} value="Martinique">Martinique</option>
<option {{ if eq . "Mauritania" }}selected{{ end }} value="Mauritania">Mauritania</option>
<option {{ if eq . "Mauritius" }}selected{{ end }} value="Mauritius">Mauritius</option>
<option {{ if eq . "Mayotte" }}selected{{ end }} value="Mayotte">Mayotte</option>
<option {{ if eq . "Mexico" }}selected{{ end }} value="Mexico">Mexico</option>
<option {{ if eq . "Micronesia, Federated States of" }}selected{{ end }} value="Micronesia, Federated States of">Micronesia, Federated States of</option>
<option {{ if eq . "Moldova, Republic of" }}selected{{ end }} value="Moldova, Republic of">Moldova, Republic of</option>
<option {{ if eq . "Monaco" }}selected{{ end }} value="Monaco">Monaco</option>
<option {{ if eq . "Mongolia" }}selected{{ end }} value="Mongolia">Mongolia</option>
<option {{ if eq . "Montenegro" }}selected{{ end }} value="Montenegro">Montenegro</option>
<option {{ if eq . "Montserrat" }}selected{{ end }} value="Montserrat">Montserrat</option>
<option {{ if eq . "Morocco" }}selected{{ end }} value="Morocco">Morocco</option>
<option {{ if eq . "Mozambique" }}selected{{ end }} value="Mozambique">Mozambique</option>
<option {{ if eq . "Myanmar" }}selected{{ end }} value="Myanmar">Myanmar</option>
<option {{ if eq . "Namibia" }}selected{{ end }} value="Namibia">Namibia</option>
<option {{ if eq . "Nauru" }}selected{{ end }} value="Nauru">Nauru</option>
<option {{ if eq . "Nepal" }}selected{{ end }} value="Nepal">Nepal</option>
<option {{ if eq . "Netherlands" }}selected{{ end }} value="Netherlands">Netherlands</option>
<option {{ if eq . "Netherlands Antilles" }}selected{{ end }} value="Netherlands Antilles">Netherlands Antilles</option>
<option {{ if eq . "New Caledonia" }}selected{{ end }} value="New Caledonia">New Caledonia</option>
<option {{ if eq . "New Zealand" }}selected{{ end }} value="New Zealand">New Zealand</option>
<option {{ if eq . "Nicaragua" }}selected{{ end }} value="Nicaragua">Nicaragua</option>
<option {{ if eq . "Niger" }}selected{{ end }} value="Niger">Niger</option>
<option {{ if eq . "Nigeria" }}selected{{ end }} value="Nigeria">Nigeria</option>
<option {{ if eq . "Niue" }}selected{{ end }} value="Niue">Niue</option>
<option {{ if eq . "Norfolk Island" }}selected{{ end }} value="Norfolk Island">Norfolk Island</option>
<option {{ if eq . "Northern Mariana Islands" }}selected{{ end }} value="Northern Mariana Islands">Northern Mariana Islands</option>
<option {{ if eq . "Norway" }}selected{{ end }} value="Norway">Norway</option>
<option {{ if eq . "Oman" }}selected{{ end }} value="Oman">Oman</option>
<option {{ if eq . "Pakistan" }}selected{{ end }} value="Pakistan">Pakistan</option>
<option {{ if eq . "Palau" }}selected{{ end }} value="Palau">Palau</option>
<option {{ if eq . "Palestinian Territory, Occupied" }}selected{{ end }} value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
<option {{ if eq . "Panama" }}selected{{ end }} value="Panama">Panama</option>
<option {{ if eq . "Papua New Guinea" }}selected{{ end }} value="Papua New Guinea">Papua New Guinea</option>
<option {{ if eq . "Paraguay" }}selected{{ end }} value="Paraguay">Paraguay</option>
<option {{ if eq . "Peru" }}selected{{ end }} value="Peru">Peru</option>
<option {{ if eq . "Philippines" }}selected{{ end }} value="Philippines">Philippines</option>
<option {{ if eq . "Pitcairn" }}selected{{ end }} value="Pitcairn">Pitcairn</option>
<option {{ if eq . "Poland" }}selected{{ end }} value="Poland">Poland</option>
<option {{ if eq . "Portugal" }}selected{{ end }} value="Portugal">Portugal</option>
<option {{ if eq . "Puerto Rico" }}selected{{ end }} value="Puerto Rico">Puerto Rico</option>
<option {{ if eq . "Qatar" }}selected{{ end }} value="Qatar">Qatar</option>
<option {{ if eq . "Reunion" }}selected{{ end }} value="Reunion">Reunion</option>
<option {{ if eq . "Romania" }}selected{{ end }} value="Romania">Romania</option>
<option {{ if eq . "Russian Federation" }}selected{{ end }} value="Russian Federation">Russian Federation</option>
<option {{ if eq . "Rwanda" }}selected{{ end }} value="Rwanda">Rwanda</option>
<option {{ if eq . "Saint Helena" }}selected{{ end }} value="Saint Helena">Saint Helena</option>
<option {{ if eq . "Saint Kitts and Nevis" }}selected{{ end }} value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option {{ if eq . "Saint Lucia" }}selected{{ end }} value="Saint Lucia">Saint Lucia</option>
<option {{ if eq . "Saint Pierre and Miquelon" }}selected{{ end }} value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
<option {{ if eq . "Saint Vincent and The Grenadines" }}selected{{ end }} value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
<option {{ if eq . "Samoa" }}selected{{ end }} value="Samoa">Samoa</option>
<option {{ if eq . "San Marino" }}selected{{ end }} value="San Marino">San Marino</option>
<option {{ if eq . "Sao Tome and Principe" }}selected{{ end }} value="Sao Tome and Principe">Sao Tome and Principe</option>
<option {{ if eq . "Saudi Arabia" }}selected{{ end }} value="Saudi Arabia">Saudi Arabia</option>
<option {{ if eq . "Senegal" }}selected{{ end }} value="Senegal">Senegal</option>
<option {{ if eq . "Serbia" }}selected{{ end }} value="Serbia">Serbia</option>
<option {{ if eq . "Seychelles" }}selected{{ end }} value="Seychelles">Seychelles</option>
<option {{ if eq . "Sierra Leone" }}selected{{ end }} value="Sierra Leone">Sierra Leone</option>
<option {{ if eq . "Singapore" }}selected{{ end }} value="Singapore">Singapore</option>
<option {{ if eq . "Slovakia" }}selected{{ end }} value="Slovakia">Slovakia</option>
<option {{ if eq . "Slovenia" }}selected{{ end }} value="Slovenia">Slovenia</option>
<option {{ if eq . "Solomon Islands" }}selected{{ end }} value="Solomon Islands">Solomon Islands</option>
<option {{ if eq . "Somalia" }}selected{{ end }} value="Somalia">Somalia</option>
<option {{ if eq . "South Africa" }}selected{{ end }} value="South Africa">South Africa</option>
<option {{ if eq . "South Georgia and The South Sandwich Islands" }}selected{{ end }} value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
<option {{ if eq . "Spain" }}selected{{ end }} value="Spain">Spain</option>
<option {{ if eq . "Sri Lanka" }}selected{{ end }} value="Sri Lanka">Sri Lanka</option>
<option {{ if eq . "Sudan" }}selected{{ end }} value="Sudan">Sudan</option>
<option {{ if eq . "Suriname" }}selected{{ end }} value="Suriname">Suriname</option>
<option {{ if eq . "Svalbard and Jan Mayen" }}selected{{ end }} value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
<option {{ if eq . "Swaziland" }}selected{{ end }} value="Swaziland">Swaziland</option>
<option {{ if eq . "Sweden" }}selected{{ end }} value="Sweden">Sweden</option>
<option {{ if eq . "Switzerland" }}selected{{ end }} value="Switzerland">Switzerland</option>
<option {{ if eq . "Syrian Arab Republic" }}selected{{ end }} value="Syrian Arab Republic">Syrian Arab Republic</option>
<option {{ if eq . "Taiwan, Province of China" }}selected{{ end }} value="Taiwan, Province of China">Taiwan, Province of China</option>
<option {{ if eq . "Tajikistan" }}selected{{ end }} value="Tajikistan">Tajikistan</option>
<option {{ if eq . "Tanzania, United Republic of" }}selected{{ end }} value="Tanzania, United Republic of">Tanzania, United Republic of</option>
<option {{ if eq . "Thailand" }}selected{{ end }} value="Thailand">Thailand</option>
<option {{ if eq . "Timor-leste" }}selected{{ end }} value="Timor-leste">Timor-leste</option>
<option {{ if eq . "Togo" }}selected{{ end }} value="Togo">Togo</option>
<option {{ if eq . "Tokelau" }}selected{{ end }} value="Tokelau">Tokelau</option>
<option {{ if eq . "Tonga" }}selected{{ end }} value="Tonga">Tonga</option>
<option {{ if eq . "Trinidad and Tobago" }}selected{{ end }} value="Trinidad and Tobago">Trinidad and Tobago</option>
<option {{ if eq . "Tunisia" }}selected{{ end }} value="Tunisia">Tunisia</option>
<option {{ if eq . "Turkey" }}selected{{ end }} value="Turkey">Turkey</option>
<option {{ if eq . "Turkmenistan" }}selected{{ end }} value="Turkmenistan">Turkmenistan</option>
<option {{ if eq . "Turks and Caicos Islands" }}selected{{ end }} value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option {{ if eq . "Tuvalu" }}selected{{ end }} value="Tuvalu">Tuvalu</option>
<option {{ if eq . "Uganda" }}selected{{ end }} value="Uganda">Uganda</option>
<option {{ if eq . "Ukraine" }}selected{{ end }} value="Ukraine">Ukraine</option>
<option {{ if eq . "United Arab Emirates" }}selected{{ end }} value="United Arab Emirates">United Arab Emirates</option>
<option {{ if eq . "United Kingdom" }}selected{{ end }} value="United Kingdom">United Kingdom</option>
<option {{ if eq . "United States" }}selected{{ end }} value="United States">United States</option>
<option {{ if eq . "United States Minor Outlying Islands" }}selected{{ end }} value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
<option {{ if eq . "Uruguay" }}selected{{ end }} value="Uruguay">Uruguay</option>
<option {{ if eq . "Uzbekistan" }}selected{{ end }} value="Uzbekistan">Uzbekistan</option>
<option {{ if eq . "Vanuatu" }}selected{{ end }} value="Vanuatu">Vanuatu</option>
<option {{ if eq . "Venezuela" }}selected{{ end }} value="Venezuela">Venezuela</option>
<option {{ if eq . "Viet Nam" }}selected{{ end }} value="Viet Nam">Viet Nam</option>
<option {{ if eq . "Virgin Islands, British" }}selected{{ end }} value="Virgin Islands, British">Virgin Islands, British</option>
<option {{ if eq . "Virgin Islands, U.S." }}selected{{ end }} value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
<option {{ if eq . "Wallis and Futuna" }}selected{{ end }} value="Wallis and Futuna">Wallis and Futuna</option>
<option {{ if eq . "Western Sahara" }}selected{{ end }} value="Western Sahara">Western Sahara</option>
<option {{ if eq . "Yemen" }}selected{{ end }} value="Yemen">Yemen</option>
<option {{ if eq . "Zambia" }}selected{{ end }} value="Zambia">Zambia</option>
<option {{ if eq . "Zimbabwe" }}selected{{ end }} value="Zimbabwe">Zimbabwe</option>
{{ end }}
