{{ define "filterbox" }}
{{ $uniqClass := uniq }}

{{ if .Entity.AvailableFilters }}

{{ if .Entity.Criteria.Filters }}
{{ range .Entity.Criteria.Filters }}
<input form="searchform" name="filter-{{.ID}}" type="hidden" value="true">
{{ end }}
{{ end }}

<form class="w-full flex md:ml-0" action="#" method="GET">
  <label for="filter_field" class="sr-only">Filter</label>
  <div class="relative w-full text-gray-400 focus-within:text-gray-600">
    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
      <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
      </svg>
    </div>
    <select autocomplete="off" class="choices-picker {{$uniqClass}}" id="entity-filter" name="entity-filter" multiple>
      {{ range .Entity.AvailableFilters }}
      <option
          value="{{.ID}}"
          {{ if and $.Entity.Criteria.Filters .ID}}
          {{ if (index $.Entity.Criteria.Filters.ByID .ID)}} selected {{ end }}
          {{ end }}
          >{{.Label}}</option>
      {{ end }}
      {{ if $.Entity.Criteria.Filters }}
      {{ range $.Entity.Criteria.Filters }}
      {{ if .IsCustom }}
      <option
          value="{{.ID}}"
          disabled
          selected
          >{{.Label}}</option>
      {{ end }}
      {{ end }}
      {{ end }}
    </select>
    <script>
      (function(){
        const elem = document.getElementsByClassName({{$uniqClass}})[0];
        const instance = new Choices(elem, {});
        instance.passedElement.element.addEventListener(
          'change',
          function(event) {
            const searchParams = new URLSearchParams(window.location.search);
            searchParams.delete('filter');

            {{ if $.Entity.Criteria.Filters }}
            {{ range $.Entity.Criteria.Filters }}
            {{ if .IsCustom }}
            searchParams.delete('{{.Key}}');
            {{ end }}
            {{ end }}
            {{ end }}

            instance.getValue(true).forEach(function(filterID) {
              switch (filterID) {
                {{ if $.Entity.Criteria.Filters }}
                {{ range $.Entity.Criteria.Filters }}
                {{ if .IsCustom }}
                case '{{.CustomID}}':
                  {{ $customKey := .Key }}
                  {{ range .Values }}
                      searchParams.append('{{$customKey}}', '{{.}}');
                  {{ end }}
                {{ end }}
                {{ end }}
                {{ end }}
              }
              searchParams.append('filter', filterID);
            });
            window.location.search = searchParams.toString();
          },
          false,
        );
      })()
    </script>
  </div>
</form>
{{ end }}

{{ end }}
