{{ template "header" . }}

{{ template "page_head" dict "Title" "Audit Log" }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
    {{ range .Audits.Data }}
		<li>
      <a href="/{{.TableName}}/{{.EntityID}}" class="block hover:bg-gray-50">
				<div class="px-4 py-4 sm:px-6">
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text-indigo-600 truncate">
            {{firstFiveChars .EntityID}} - {{ template "time" .Stamp }} - {{ .UserName }}
						</p>
						<p class="text-sm font-medium text-indigo-600 truncate">
            {{noescape .Diff}}
						</p>
					</div>
        </div>
			</a>
		</li>
    {{ end }}
	</ul>
  {{ template "pagination" .Audits }}
</div>

{{ template "footer" . }}
