{{ template "header" . }}

{{ template "breadcrumbs" dict "Context" .Context "Crumbs" (crumbs "SomeThings" "/some-things" "New" "#") }}

{{ template "page_head" dict "Title" "Create SomeThing" }}

<div class="relative bg-white">
  <div class="relative max-w-7xl mx-auto">
    <div class="bg-white py-16 px-4 sm:px-6">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form action="/some-things" method="post" class="grid grid-cols-1 gap-y-6">
          <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
          <input type="hidden" name="organisationID" value="{{(activeOrgFromContext $.Context).ID}}">
          <div>
            <label for="name" class="sr-only">Name</label>
            <input id="name" name="name" type="text" autocomplete="on" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-black-300 rounded-md" placeholder="Name">
          </div>
          <div>
            <label for="description" class="sr-only">Description</label>
            <input id="description" name="description" type="text" autocomplete="on" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-black-300 rounded-md" placeholder="Description">
          </div>
          <div>
            <button type="submit" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ template "footer" . }}
