{{ template "header" . }}

{{ template "page_head" dict "Title" "Create Organisation" }}

<div class="relative bg-white">
  <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
    <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form action="/organisations" method="post" class="grid grid-cols-1 gap-y-6">
          <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input id="name" name="name" type="name" autocomplete="name" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-black-300 rounded-md" placeholder="Name">
          </div>
          <div>
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            {{ template "countryselector" dict "SelectedCountry" "" "ClassList" "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
          </div>
          <div>
            <button type="submit" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Submit
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
{{ template "footer" . }}
