{{ define "feature_help" }}
{{ $id := randID }}
<i 
  onclick="$('#{{$id}}').tapTarget('open');"
  class="material-icons {{.Class}}">help_outline</i>

  <script>
    (function() {
      var elem = document.createElement('div');
      elem.innerHTML = '<div style="visibility: hidden;" class="fixed-action-btn noprint"> <a id="{{$id}}-menu" class="waves-effect waves-light btn btn-floating" ><i class="large material-icons">help_outline</i></a> </div> <div id="{{$id}}" class="tap-target" data-activates="{{$id}}-menu"> <div class="tap-target-content center"> <h5>{{.Title}}</h5> <p>{{.Text}}</p> </div> </div> ';
      document.body.appendChild(elem);
    })();
  </script>

{{ end }}
