{{ template "header" . }}
<div class="section">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <h3 style="margin-top: 40%;" class="light">
          Lorem Ipsum.
        </h3>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row center">
      <div class="col s12">
        <h3 class="light">
          Doubleboiler. When you need it done yesterday.
        </h3>
      </div>
    </div>
  </div>
</div>

{{ template "call_to_action" . }}

{{ template "footer" . }}
