{{ define "orgpicker" }}
{{ if (orgsFromContext .Context) }}
{{ $uniqClass := uniq }}
<div class="mx-1">
  <select class="choices-picker {{$uniqClass}}" id="organisationID" name="organisationID" onchange="{{template "value_to_qs" "organisationid"}}">
    {{ range (orgsFromContext .Context) }}
    <option
      value="{{.ID}}"
      {{ if eq (activeOrgFromContext $.Context).ID .ID}} selected {{ end }}
      >{{.Name}}</option>
    {{ end }}
  </select>
  <script>
    (function(){
      const elem = document.getElementsByClassName({{$uniqClass}})[0];
      new Choices(elem, {});
    })()
  </script>
</div>
{{end}}
{{ end }}
