{{ template "header" . }}

{{ template "page_head" dict "Title" "Organisations" }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
    <li>
      {{ template "searchbox" dict "EntityFilter" "Organisations" }}
    </li>
    {{ range .Organisations.Data }}
		<li>
      <a href="/organisations/{{.ID}}" class="block hover:bg-gray-50">
				<div class="px-4 py-4 sm:px-6">
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text-indigo-600 truncate">
							{{.Name}}
						</p>
					</div>
        </div>
			</a>
		</li>
    {{ end }}
	</ul>
</div>

{{ template "create_button" dict "Path" "/create-organisation" "Text" "Create Organisation" }}

{{ template "footer" . }}
