{{ template "header" . }}

{{ template "breadcrumbs" dict "Crumbs" (crumbs "Organisations" "/organisations" .Organisation.Name "#") }}

<div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Admin Users</h3>
      <div class="mt-1 text-sm text-gray-500">
        <form action="/organisation-users" method="post">
          <input type="hidden" name="csrf" value="{{csrf $.Context}}"></input>
          <input type="hidden" name="organisationID" value="{{(activeOrgFromContext $.Context).ID}}">
          <div class="md:grid md:grid-cols-2 md:gap-6">
            <div class="md:col-span-1">
              <input required type="email" id="email" name="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="name@example.com">
            </div>
            <div class="md:col-span-1">
              <button type="submit" class="inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <!-- Heroicon name: solid/plus-sm -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        {{range .OrganisationUsers.Data}}
        {{ $ou := . }}
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text-sm font-medium truncate">{{.Email}}</h3>
              </div>
              <form action="/organisation-users/{{.ID}}" method="post">
                <div class="flex items-center space-x-3 mb-3">
                  <input type="text" id="name" name="name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Name" value="{{.Name}}">
                  <input type="text" id="family_name" name="family_name" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Family Name" value="{{.FamilyName}}">
                  <button type="submit" class="fancy-submit inline-flex items-center p-1 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
                <input type="hidden" name="csrf" value="{{csrf $.Context}}"></input>
                <input type="hidden" name="id" value="{{.ID}}"></input>
                <input type="hidden" name="email" value="{{.Email}}"></input>
                <input type="hidden" name="organisationID" value="{{$.Organisation.ID}}"></input>
                {{ range $.ValidRoles }}
                {{ template "toggle" dict "Label" .Label "Selected" ($ou.Roles.Can .Name) "Key" "roles" "Value" .Name "AutoSubmit" true }}
                {{ end }}
              </form>
              <p class="mt-1 text-gray-500 text-sm truncate">Added {{humanDate .CreatedAt}}</p>
            </div>
          </div>
          <div>
            <div class="-mt-px flex divide-x divide-gray-200">
              <div class="w-0 flex-1 flex">
                <div class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
                  <form action="/organisation-users/{{.ID}}/delete" method="post">
                    <input type="hidden" name="csrf" value="{{csrf $.Context}}"></input>
                    <button type="button" class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                          onclick="document.getElementById('{{.ID}}').hidden = false"
                                          >
                                          Remove
                    </button>
                      {{ template "confirm_modal" dict "Title" "Remove admin user" "ButtonText" "Confirm" "ID" .ID "Text" .Email}}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>

    <script>
      (function() {
        Array.prototype.forEach.call((document.getElementsByClassName('fancy-submit')), function(but) {
          but.addEventListener('click', function(e) {
            but.classList.toggle('animate-ping');
          })
        })
      })()
    </script>

    <div class="mt-5 md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Organisation Information</h3>
    </div>

    <div class="mt-5 md:mt-0 md:col-span-2">
      <div class="bg-white shadow px-4 py-5 mt-6 sm:rounded-lg sm:p-6">
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="/organisations/{{.Organisation.ID}}" method="post">
              <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
              <input type="hidden" name="id" value="{{.Organisation.ID}}"></input>
              <input type="hidden" name="revision" value="{{.Organisation.Revision}}"></input>
              {{range .OrganisationUsers.Data}}
              <input type="hidden" name="users.id" value="{{.ID}}"></input>
              <input type="hidden" name="users.revision" value="{{.Revision}}"></input>
              <input type="hidden" name="users.userid" value="{{.UserID}}"></input>
              <input type="hidden" name="users.organisationid" value="{{.OrganisationID}}"></input>
              {{end}}

              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <h3 class="text-md font-medium leading-6 text-gray-900">Created</h3>
                  <p class="mt-1 text-sm text-gray-500">
                  {{ template "time" .Organisation.CreatedAt }}
                  </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <h3 class="text-md font-medium leading-6 text-gray-900">Last Updated</h3>
                  <p class="mt-1 text-sm text-gray-500">
                  {{ template "time" .Organisation.UpdatedAt }}
                  </p>
                </div>
                <div class="col-span-6 sm:col-span-3">
                  <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                  <input value="{{.Organisation.Name}}" type="text" name="name" id="name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                  <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    {{ template "countries" .Organisation.Country}}
                  </select>
                </div>
              </div>

              <div class="mt-3 col-span-6">
                <button class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      {{ template "footer" . }}
