{{ define "profile-menu" }}
<!-- Profile dropdown -->
<div class="ml-3 relative">
  <div>
    <button class="max-w-xs flex items-center text-sm rounded-full focus:outline-none focus:shadow-outline" id="user-menu" aria-label="User menu" aria-haspopup="true">
      <img class="h-8 w-8 rounded-full" src="https://secure.gravatar.com/avatar/{{hash (user .Context).Email }}?s=70&d=mp" alt="">
    </button>
    <script>
      document.getElementById('user-menu').onclick = function toggleUserMenu() {
        const elem = document.getElementById('user-menu-flyout');
        elem.hidden = !elem.hidden;
      }
    </script>
  </div>
  <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg" id="user-menu-flyout" hidden>
    <div class="py-1 rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
      <a href="/users/{{(user $.Context).ID}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Your Profile</a>

      <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition ease-in-out duration-150" role="menuitem">Sign out</a>
    </div>
  </div>
</div>
{{ end }}
