{{ template "header" . }}

{{ template "page_head" dict "Title" "Search Results" }}

{{ $uniqClass := uniq }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
  <ul class="divide-y divide-gray-200">
    <li>
      {{ template "searchbox" dict "Phrase" .Phrase "EntityFilterMap" .EntityFilterMap }}
    </li>
    <li>
      <select class="choices-picker {{$uniqClass}}" id="entity-filter" name="entity-filter" multiple>
        {{ range searchableEntities .Context }}
        <option
            value="{{.Label}}"
            {{ if and $.EntityFilterMap .Label}}
            {{ if (index $.EntityFilterMap .Label)}} selected {{ end }}
            {{ end }}
            >{{.Label}}</option>
        {{ end }}
      </select>
      <script>
        (function(){
          const elem = document.getElementsByClassName({{$uniqClass}})[0];
          const instance = new Choices(elem, {});
          instance.passedElement.element.addEventListener(
            'change',
            function(event) {
              const searchParams = new URLSearchParams(window.location.search);
              searchParams.delete('entity-filter');
              instance.getValue(true).forEach(function(val) {
                searchParams.append('entity-filter', val);
              });
              window.location.search = searchParams.toString();
            },
            false,
          );
        })()
      </script>
    </li>
    {{ if eq (len .Results.Data) 0 }}
    <li>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium text-indigo-600 truncate">
          Sorry, there are no results for that query.
          </p>
        </div>
      </div>
    </li>
    {{ end }}
    {{ range .Results.Data }}
    <li>
      {{ if .Path }}
      <a href="/{{.Path}}/{{.ID}}" class="block hover:bg-gray-50">
      {{ else }}
      <div class="block hover:bg-gray-50">
      {{ end }}
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <p class="text-sm font-medium text-indigo-600 truncate">
            {{.Label}}
            </p>
            <p class="text-sm font-medium text-indigo-600 truncate">
            {{.EntityType}}
            </p>
          </div>
        </div>
      {{ if .Path }}
      </a>
      {{ else }}
      </div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ template "pagination" .Results }}
</div>

{{ template "footer" . }}
