{{ template "header" . }}

{{ template "breadcrumbs" dict "Context" .Context "Crumbs" (crumbs "SomeThings" "/some-things" .SomeThing.Name "#") }}

{{ $edits := "disabled" }}
{{ if (can .Context "admin") }}
{{ $edits = "" }}
{{ end }}

<div class="relative bg-white">
  <div class="relative max-w-7xl mx-auto flex">
    <div class="bg-white py-4 md:py-8 px-4 sm:px-6 lg:px-8 xl:pl-12 mx-auto">
      <div class="mx-auto lg:max-w-none">
        <form action="/some-things/{{.SomeThing.ID}}" method="post" class="grid grid-cols-6 gap-y-6">
          <input type="hidden" name="id" value="{{.SomeThing.ID}}"></input>
          <input type="hidden" name="revision" value="{{.SomeThing.Revision}}"></input>
          <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
          <input type="hidden" name="organisationID" value="{{(activeOrgFromContext $.Context).ID}}">
          <div class="col-span-6">
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <input {{$edits}} value="{{.SomeThing.Name}}" id="name" name="name" type="text" autocomplete="on" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-black-300 rounded-md" placeholder="Name">
          </div>
          <div class="col-span-6">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <input {{$edits}} value="{{.SomeThing.Description}}" id="description" name="description" type="text" autocomplete="on" class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-black-300 rounded-md" placeholder="Description">
          </div>
          {{ if (can .Context "admin") }}
          <div>
            <button type="submit" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
          {{ end }}
        </form>
      </div>
    </div>
    <div id="slide-panel" class="bg-white py-4 px-4 sm:px-6 lg:py-8 lg:px-8 xl:pl-12 fixed top-11 w-2/3 right-0 md:w-fit md:top-0 md:left-0 md:relative md:block shadow-lg md:shadow-none rounded-bl-md transition-transform duration-100 ease-in-out translate-x-full md:translate-x-0">
      <h3 class="text-md font-medium leading-6 text-gray-900">Created</h3>
      <p class="mt-1 text-sm text-gray-500">
      {{ template "time" .SomeThing.CreatedAt }}
      </p>
      <h3 class="text-md font-medium leading-6 text-gray-900">Last Updated</h3>
      <p class="mt-1 text-sm text-gray-500">
      {{ template "time" .SomeThing.UpdatedAt }}
      </p>
      {{ if (can .Context "admin") }}
      <a href="/audits/{{.SomeThing.ID}}" class="text-md font-medium leading-6 text-indigo-600">Audit Log</a>
      {{ end }}
    </div>
    {{ template "slide-panel-controls" }}
  </div>
</div>

{{ template "footer" . }}
