{{ template "header" . }}

{{ template "page_head" dict "Title" "Things" }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
    {{ range .Things.Data }}
		<li>
      <a href="/things/{{.ID}}" class="block hover:bg-gray-50">
				<div class="px-4 py-4 sm:px-6">
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text-indigo-600 truncate">
							{{.Name}}
						</p>
					</div>
        </div>
			</a>
		</li>
    {{ end }}
	</ul>
  {{ template "pagination" .Things }}
</div>

{{ template "create_button" dict "Path" "/create-thing" "Text" "Create Thing" }}

{{ template "footer" . }}
