{{ template "header" . }}

{{ template "breadcrumbs" dict "Crumbs" (crumbs "Things" "#") }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
    <li>
      {{ template "searchbox" dict "EntityFilter" "Things" }}
    </li>
    <li class="mt-3 mb-0">
      {{ template "filterbox" dict "Entity" .Things "Context" .Context }}
    </li>
    {{ range .Things.Data }}
		<li>
      <a href="/things/{{.ID}}" class="block hover:bg-gray-50">
				<div class="px-4 py-4 sm:px-6">
					<div class="flex items-center justify-between">
						<p class="text-sm font-medium text-indigo-600 truncate">
							{{.Name}}
						</p>
					</div>
        </div>
			</a>
		</li>
    {{ end }}
	</ul>
  {{ template "pagination" .Things }}
</div>

{{ if (can .Context "admin") }}
{{ template "create_button" dict "Path" "/create-thing" "Text" "Create Thing" }}
{{ end }}

{{ template "footer" . }}
