{{ template "header" . }}

{{ template "page_head" dict "Title" "Users" }}

<div class="px-4 bg-white shadow overflow-hidden sm:rounded-md">
	<ul class="divide-y divide-gray-200">
    {{ range .Users.Data }}
    <li>
      <a class="py-4 flex" href="/users/{{.ID}}">
        <img class="h-10 w-10 rounded-full" src="https://www.gravatar.com/avatar/{{hash .Email}}.jpg?s=70" alt="{{.Email}} avatar">
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">{{.Email}}</p>
        </div>
      </a>
    </li>
    {{ end }}
	</ul>
</div>

{{ template "footer" . }}
