{{ template "header" . }}

{{ if isAppAdmin .Context }}
{{ template "breadcrumbs" dict "Crumbs" (crumbs "Users" "/users" .User.Email "#") }}
{{ else }}
{{ template "breadcrumbs" dict "Crumbs" (crumbs "Users" "#" .User.Email "#") }}
{{ end }}

<div class="relative bg-white">
  <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-5">
    <div class="bg-white py-16 px-4 sm:px-6 lg:col-span-4 lg:py-24 lg:px-8 xl:pl-12">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <form action="/uers/{{.User.ID}}" method="post" class="grid grid-cols-1 gap-y-6">
          <input type="hidden" name="id" value="{{.User.ID}}"></input>
          <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
          <input type="hidden" name="revision" value="{{.User.Revision}}"></input>
          <div class="col-span-6">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input value="{{.User.Email}}" type="email" name="email" id="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
          </div>
          <div>
            <button type="submit" class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>


    <nav class="py-2 space-y-1" aria-label="Sidebar">
      <a href="/logout" class="truncate text-gray-900 flex items-center px-3 text-sm font-medium rounded-md" aria-current="page">
        <button type="button" class="w-full bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Sign Out</button>
      </a>
      <form action="/reset-password" method="post" class="truncate text-gray-900 flex items-center px-3 text-sm font-medium rounded-md">
        <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
        <input type="hidden" value="{{.User.Email}}" name="email"></input>
        <button type="submit" class="w-full bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Reset Password
        </button>
      </form>
      <form action="/users/{{.User.ID}}/impersonate" method="post" class="truncate text-gray-900 flex items-center px-3 text-sm font-medium rounded-md">
        <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
        <button type="submit" class="w-full bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Impersonate
        </button>
      </form>
      <div class="grid grid-cols-2 lg:grid-cols-1">
          <h3 class="col-span-1 px-4 lg:text-center text-md font-medium leading-6 text-gray-900">Created</h3>
          <p class="col-span-1 px-4 sm:text-right md:text-right lg:text-center mt-1 self-end text-sm text-gray-500">
          {{ template "time" .User.CreatedAt }}
          </p>
          <h3 class="col-span-1 px-4 lg:text-center text-md font-medium leading-6 text-gray-900">Last Updated</h3>
          <p class="col-span-1 px-4 sm:text-right md:text-right lg:text-center mt-1 self-end text-sm text-gray-500">
          {{ template "time" .User.UpdatedAt }}
          </p>
      </div>
    </nav>
  </div>
</div>

{{ template "footer" . }}
