{{ template "header" . }}
<div class="section">
  <div class="container">
    <h3 class="header center">Thanks!</h3>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="center col s12 m6 offset-m3">
        <p>
        Just set a password for your new account and you're good to go!
        </p>
      </div>
      <form action="/users?next=welcome" method="post">
        <div class="col s6 offset-s3">
          <input type="hidden" name="id" value="{{.User.ID}}"></input>
          <input type="hidden" name="revision" value="{{.User.Revision}}"></input>
          <input type="hidden" name="token" value="{{.Token}}"></input>
          <input type="hidden" name="expiry" value="{{.Expiry}}"></input>
          <input type="hidden" name="email" value="{{.User.Email}}"></input>
          <label for="password">Password</label>
          <input type="password" name="password"></input>
          <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
        </div>

        <div class="col s6 offset-s3">
          <input type="checkbox" name="terms" id="terms" value="agreed" required />
          <label for="terms">I agree to the Doubleboiler <a href="/eula.pdf">Terms and Conditions</a></label>
        </div>

        <div class="col s6 offset-s3">
          <button class="btn waves-effect" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ template "footer" . }}
