{{ template "header" . }}

<div class="section">
  <div class="container">
    <div class="row">
      {{ template "orgpicker" . }}
    </div>
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <a href="/things?organisationid={{.ActiveOrg.ID}}">
          <div class="center promo">
            <i class="material-icons">queue</i>
            <p class="promo-caption">Things</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <a href="/organisations/{{.ActiveOrg.ID}}?organisationid={{.ActiveOrg.ID}}">
          <div class="center promo">
            <i class="material-icons">settings</i>
            <p class="promo-caption">Organisation Settings</p>
          </div>
        </a>
      </div>
      <div class="col s12 m4 offset-m4">
        <a href="/changelog">
          <div class="center promo">
            <i class="material-icons">build</i>
            <p class="promo-caption">Changelog</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{{ template "footer" . }}
