{{ template "base.html" . }}

{{ define "breadcrumbs" }}
{{ template "crumbs" crumbs "Communications" "/communications" (firstFiveChars .Communication.ID) "#" }}
{{ end }}

{{ define "content" }}

<div class="flex flex-col gap-y-6">
  <h3 class="text-base font-semibold text-gray-900">{{.Communication.Subject}}</h3>
  <a href="/users/{{.Communication.UserID.String}}" class="flex gap-1 text-gray-600">
    {{.OrganisationUser.Email}}
    {{ heroIcon "outline/arrow-right-circle" }}
  </a>
  <dl class="border-t border-gray-100 divide-y divide-gray-100 max-w-2xl">
    {{ if .Communication.Channel }}
    {{ template "table-row" dict "Label" "Channel" "Value" .Communication.Channel }}
    {{ end }}
    {{ if .Communication.Sent }}
    {{ template "table-row" dict "Label" "Sent" "Value" (subComponent "time" .Communication.Sent) }}
    {{ end }}
  </dl>
</div>

{{ end }}
