{{ template "base.html" . }}

{{ define "content" }}

<div class="flex flex-col gap-y-6">
  <h3 class="text-base font-semibold text-gray-900">Need a hand?</h3>
  <a href="mailto:{{.Email}}" class="flex gap-1 text-gray-600">{{.Email}}</a>

  <form action="/contact" method="post" class="flex flex-col gap-y-6">
    <input type="hidden" name="target" value="{{.Email}}" />
    <input type="hidden" name="csrf" value="{{csrf .Context}}" />

    {{ template "input" dict "Type" "email" "Label" "Email" "Name" "email" "Required" true "Placeholder" "Email" "Value" .User.Email }}
    {{ template "input" dict "Type" "text" "Label" "Phone" "Name" "phone" "Required" false "Placeholder" "Your Phone Number" "Autocomplete" "tel" }}
    <div class="flex flex-col gap-2">
      <label class="block text-sm font-medium text-gray-700">
        What's up?
        <div class="">
          <textarea name="body" required rows="4" class="text-md font-medium text-gray-900 block w-full shadow-sm py-2 px-3 placeholder:font-light placeholder-gray-500 focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md"></textarea>
        </div>
      </label>
    </div>

    {{if not (loggedIn .Context)}}
    <div class="flex flex-col gap-2">
      {{ template "antispam" . }}
    </div>
    {{ end }}

    <div>
      <button type="submit" class="justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Send
      </button>
    </div>
  </form>
</div>

{{ end }}
