{{ template "base.html" . }}

{{ define "topbar" }}
&nbsp;
{{ end }}

{{ define "menu" }}
&nbsp;
{{ end }}

{{ define "content" }}
<div class="flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Set New Password
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form class="space-y-6" action="/users/{{.User.ID}}" method="post">
        <input type="hidden" name="next" value="/welcome"></input>
        <input type="hidden" name="flow" value="reset_password"></input>
        <input type="hidden" name="id" value="{{.User.ID}}"></input>
        <input type="hidden" name="revision" value="{{.User.Revision}}"></input>
        <input type="hidden" name="token" value="{{.Token}}"></input>
        <input type="hidden" name="expiry" value="{{.Expiry}}"></input>
        <input type="hidden" name="email" value="{{.User.Email}}"></input>
        <input type="hidden" name="csrf" value="{{csrf .Context}}"></input>
        {{ template "input" dict "Type" "password" "Label" "New Password" "Name" "password" "Required" true "Placeholder" "New Password" }}
        {{ template "input" dict "Type" "password" "Label" "Confirm Password" "Name" "confirm-password" "Required" true "Placeholder" "Confirm Password" }}

        <div class="flex items-center">
          <input required id="terms" type="checkbox" value="agreed" name="terms" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
          <label for="terms" class="ml-2 block text-sm text-gray-900">
            I agree to the Doubleboiler <a target="_blank" class="text-indigo-600" href="/eula.pdf">Terms and Conditions</a>
          </label>
        </div>

        <div>
          <button type="submit" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{ end }}
