{{ template "base.html" . }}

{{ define "breadcrumbs" }}
{{ template "crumbs" crumbs "Search Results" "#" }}
{{ end }}

{{ define "content" }}
{{ $formID := uniq }}
{{ $filterID := uniq }}
<ul class="text-sm divide-y divide-gray-200">
  <li>
    {{ template "searchbox" dict "Phrase" .Results.Criteria.Query.UserInput "ID" $formID }}
  </li>
  <li>
    <select form="{{$formID}}" class="" id="{{$filterID}}" name="entity-filter" multiple>
      {{ range (searchableEntities .Context .Results.Criteria.Query) }}
      <option
          value="{{.Tablename}}"
          {{ if (contains $.Results.Criteria.Entities .Tablename) }} selected {{ end }}
          >{{.EntityType}}</option>
      {{ end }}
    </select>
    <script>
      (function(){
        const instance = new Choices(document.getElementById("{{$filterID}}"), {});
      })()
    </script>
  </li>

  {{ if eq (len .Results.Data) 0 }}
  {{ template "list-item" dict "URI" "#" "Label" "Sorry, there are no results for that query." }}
  {{ end }}

  {{ range .Results.Data }}

  {{ $path := "" }}
  {{ if .Path }}
  {{ $path = (print "/" .Path "/" .ID) }}
  {{ end }}

  {{ template "list-item" dict "URI" $path "Label" .Label "Secondary" .EntityType }}
  {{ end }}
</ul>
{{ template "pagination" .Results }}

{{ end }}
